<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
# User-agents
RewriteCond %{HTTP_USER_AGENT} (CCBot|ChatGPT|GPTBot|anthropic-ai|Omgilibot|Omgili|FacebookBot) [OR,NC]
# OpenIA - ChatGPT
RewriteCond %{REMOTE_ADDR} ^20\.15\.240\. [OR]
RewriteCond %{REMOTE_ADDR} ^20\.15\.241\. [OR]
RewriteCond %{REMOTE_ADDR} ^20\.15\.242\. [OR]
RewriteCond %{REMOTE_ADDR} ^40\.83\.2\. [OR]
RewriteCond %{REMOTE_ADDR} ^20\.9\.164\. [OR]
RewriteCond %{REMOTE_ADDR} ^52\.230\.152\. [OR]
# User GPT
RewriteCond %{REMOTE_ADDR} ^23\.98\.142\.
RewriteRule ^(?!mimimi.php)(.*)$ /mimimi.php [L]
</IfModule>